@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sqsxwp');
  src:  url('fonts/icomoon.eot?sqsxwp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sqsxwp') format('truetype'),
    url('fonts/icomoon.woff?sqsxwp') format('woff'),
    url('fonts/icomoon.svg?sqsxwp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-list:before {
  content: "\e900";
}
.icon-hartc:before {
  content: "\e901";
}
.icon-logout:before {
  content: "\e903";
}
.icon-man:before {
  content: "\e904";
  color: #ea5788;
}
.icon-money:before {
  content: "\e905";
}
.icon-arrowr .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-arrowr .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: none;
}
.icon-arrowr .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 149, 0);
}
.icon-pen:before {
  content: "\e902";
  color: #c5c5c5;
}
.icon-next:before {
  content: "\e907";
  color: #5a598e;
}
